body{
    margin: auto;
}
.header{
    display: flex;
    background-color: rgba(179, 175, 175, 0.226);
    height: 25px;
    width: 100%;
}
ul {
    list-style-type: none;
}
.headerLink1{
    color: rgb(243, 111, 54);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-left: 365px;
    margin-top: -5px;
    cursor: pointer;
}
.headerLink1:hover{
    text-decoration: underline;
}
.headerLink2{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -6px;
    font-weight: bold;
    margin-right: -3px;
    cursor: pointer;
}
.headerLink2:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.headerLink3{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -6px;
    font-weight: bold;
    margin-right: -4px;
    cursor: pointer;
}
.headerLink3:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.headerLink4{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -6px;
    font-weight: bold;
    margin-right: -5px;
    cursor: pointer;
}
.headerLink4:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.headerLink5{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -6px;
    font-weight: bold;
    margin-right: -6px;
    cursor: pointer;
}
.headerLink5:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.headerLink6{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -30px;
    font-weight: bold;
    margin-left: 1097px;
    cursor: pointer;
}
.headerLink6:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.headerLink7{
    color: rgba(0, 0, 0, 0.603);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 11px;
    margin-top: -23px;
    font-weight: bold;
    margin-left: 1165px;
    cursor: pointer;
}
.headerLink7:hover{
    color: rgb(243, 111, 54);
    text-decoration: underline;
}
.logo{
    margin-top: 14px;
    margin-left: 78px;
}
.search{
    display: flex;
    background-color: #F5F5F5;
    height: 45px;
    width: 688px;
    margin-left: 282px;
    margin-top: -47px;
}
.searchtxt{
    color: #A69E9E;
    font-family: "Roboto-Regular", Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 20px;
}
.searchimg{
    background-color: #F57224;
    height: 45px;
    width: 45px;
    margin-left: 522px;
}
.cart{
    margin-left: 995px;
    margin-top: -37px;
}
.downloaddaraz{
    margin-left: 1075px;
    margin-top: -52px;
}
.body1{
    background-color: #F5F5F5;
}
.bimg1{
    background-image: url("C:/Users/Muhammad Maaz/Desktop/Aptech/Daraz/Images/DM.jpg");
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 80px;
}
.bimg1txt{
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    Line-height: 40px;
    margin-left: 45px;
}
.bimg2{
    background-image: url("C:/Users/Muhammad Maaz/Desktop/Aptech/Daraz/Images/mart.jpg");
    height: 40px;
    width: 40px;
    margin-top: -42px;
    margin-left: 320px;
}
.bimg2txt{
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    Line-height: 40px;
    margin-left: 45px;
}
.bimg3{
    background-image: url("C:/Users/Muhammad Maaz/Desktop/Aptech/Daraz/Images/fashion.jpg");
    height: 40px;
    width: 40px;
    margin-top: -42px;
    margin-left: 530px;
}
.bimg3txt{
    width: 170px;
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    margin-left: 45px;
}
.bimg4{
    background-image: url("C:/Users/Muhammad Maaz/Desktop/Aptech/Daraz/Images/GC.jpg");
    height: 40px;
    width: 40px;
    margin-top: -42px;
    margin-left: 800px;
}
.bimg4txt{
    width: 170px;
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    margin-left: 45px;
}
.bimg5{
    background-image: url("C:/Users/Muhammad Maaz/Desktop/Aptech/Daraz/Images/DS.jpg");
    height: 40px;
    width: 40px;
    margin-top: -52px;
    margin-left: 1030px;
}
.bimg5txt{
    width: 170px;
    font-family: 'Roboto', sans-serif;
    Font-size: 18px;
    margin-left: 45px;
    margin-top: 10px;
}
.flashsale{
    color: rgb(66, 66, 66);
    font-family:'Roboto';
    font-size: 22px;
    margin-left: 80px;
    margin-top: 35px;
}
.onsale{
    color: rgb(243, 111, 54);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 13px;
    margin-left: 100px;
    margin-top: 30px;
}
.endingin{
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    Font-size: 14px;
    margin-left: 245px;
    margin-top: -13px;
}
.timerimg{
    margin-left: 315px;
    margin-top: -30px;
}
.button {
    height: 35px;
    width: 110px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
  }
  .shopmorebtn {
    display: flex;
    height: 35px;
    width: 110px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    background-color: white; 
    color: black; 
    border: 2px solid #f57224;
    color: #f57224;
    margin-left: 1155px;
  }


